* {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #505050 !important;
}

div.well {
  margin: 2em auto;
}

h2 {
  margin: 1em;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  transform: skew(-15deg);
}

.btn {
  margin: 1em;
  box-shadow: 5px 5px 10px rgb(55 94 148 / 20%),
    -5px -5px 10px rgb(255 255 255 / 40%);
}

.btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255) !important;
  transform: skew(-15deg);
  transition: ease-out 0.3s;
}

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: auto;
  }
}
