* {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #36007c;
}
div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.text-center {
  text-align: center;
  border-radius: 8px;
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 2em;
}

#header {
  background-color: #36007c;
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
  text-decoration-color: rgb(255, 84, 84);
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  transform: skew(-15deg);
}

#searchButton {
  margin: 2em auto;
  padding: 1.5em;
  max-width: 70%;
  max-height: 30%;
  margin-bottom: 2em;
  position: relative;
  bottom: 1em;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255) !important;
  box-shadow: none;
  border-radius: 0;
}

#searchButton:hover {
  background-color: #36007c;
  border: rgb(26, 26, 26) solid 5px;
  transition: ease-in-out 0.2s;
  transform: skew(-22deg);
  max-width: 45%;
}

div.jumbotron {
  border-radius: 5px;
  margin: auto;
  padding: 1px;
  margin-bottom: 1em;
  text-align: center;
}

#searchText {
  text-align: center;
  width: 80%;
  margin: auto;
}

img {
  min-height: 300px;
  border-radius: 5px;
  opacity: 1;
  display: block;
  width: 85%;
  margin: auto;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.title {
  color: #f6f6f6;
  padding: 15px;
  margin: auto;
  font-size: 1.1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.contain {
  position: relative;
  text-align: center;
}

.middle {
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contain:hover img {
  opacity: 0.2;
}

.contain:hover .middle {
  opacity: 1;
}

#resultBtn {
  background-color: rgb(151, 48, 48);
  color: rgb(255, 255, 255);
  box-shadow: none;
  margin-top: 1em;
  width: 70%;
}

#resultBtn:hover {
  background-color: rgb(255, 255, 255);
  transform: skew(-10deg);
  color: black;
  font-weight: 800;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  transition: 0.3s linear;
}

#myBtn {
  display: none;
  width: 30%;
  position: fixed;
  bottom: 2rem;
  left: -2rem;
  transform: rotate(90deg);
  z-index: 99;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #f6f6f6;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
}

#myBtn:hover {
  background-color: #050505;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 780px) {
  .col-md-3 {
    margin: 1em;
    position: relative;
    right: 1em;
  }
}
@media screen and (min-width: 780px) {
  #searchButton {
    max-width: 40%;
  }

  img {
    min-height: 320px;
    width: 200px;
  }

  .title {
    width: 11.1rem;
  }

  #resultBtn {
    width: 200px;
  }

  #header {
    font-size: 2.5em;
    text-underline-offset: 22px;
    text-decoration-thickness: 12px;
  }

  #myBtn {
    position: fixed;

    width: 10%;
  }
}

@media screen and (min-width: 1000px) {
  .col-md-3 {
    margin: 0 auto;
    position: relative;
    right: 2em;
  }

  #searchText {
    max-width: 70%;
    margin: auto;
  }

  #myBtn {
    position: relative;
    left: -12rem;
    width: 50px;
  }
}

@media screen and (min-width: 1400px) {
  #searchButton {
    max-width: 30%;
  }

  img {
    min-width: 253px;
    max-height: 85px;
  }

  #searchText {
    width: 50%;
    margin: auto;
  }

  #myBtn {
    position: relative;
    left: -12rem;
    width: 50px;
  }

  .col-md-3 {
    margin: 0;
    position: relative;
  }
}
